
//font defaults
$font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontSize-default: 16px;
$fontWeight-regular: 400;
$fontWeight-medium: 500;

//spacings
$lineHeight: 1.5;
$gap: 2em;
$padding: 2em;

//sizes
$width: 60%;


//border styles
$margin: 0 auto;
$borderRadius: 2em;


//color scheme
$darkColor: #242424;
$darkColor2: teal;
$lightColor: whitesmoke;
$lightColor2: lightyellow;


//breakpoints 
$desktop: 1200px;
$mobile: 600px;



