@use "variables" as v;
@use "mixins";

:root {
  font-family: v.$font;
  line-height: v.$lineHeight;
  font-weight: v.$fontWeight-regular;
  font-size: v.$fontSize-default;
  color: v.$lightColor;
  background-color: v.$darkColor;
}

body {
  
  #app {
    @include mixins.containers;
  
h1 {
  text-align: center;
  font-size: 3em;
}
  
  ul {
    font-size: v.$fontSize-default;
    border: outset teal;
    padding: v.$padding;
    border-radius: v.$borderRadius;
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include mixins.mobile {
      @media screen and (max-width: 600px) {
       align-items: center;
      }
    }
    

    button {
      @include mixins.buttons;

      @include mixins.mobile {
        @media screen and (max-width: 600px) {
            max-width: 10em;
        }
      }
      
        @include mixins.desktop {
          @media screen and (max-width: 1200px) {
              width: 15em;
          }
        }
   
    &:hover {
      border-color: v.$darkColor2;
    }

    &:focus, &:focus-visible {
      outline: 4px auto v.$lightColor2;
    }

    #notHidden {
      color: crimson;
      transition: border-color 0.25s;
      border-style: none;
    
    }

    
  }
}
}
}



      
  
