@use "variables" as v;
@use "mixins";

:root {
  font-family: v.$font;
  line-height: v.$lineHeight;
  font-weight: v.$fontWeight-regular;
  font-size: v.$fontSize-default;
  color: v.$lightColor;
  background-color: v.$darkColor;
}

body {
  
  #app {
    @include mixins.containers;
  
h1 {
  text-align: center;
  font-size: 3em;
}
  
  ul {
    font-size: v.$fontSize-default;
    border: outset teal;
    padding: v.$padding;
    border-radius: v.$borderRadius;
    display: flex;
    flex-direction: column;
    gap: v.$gap;

    @include mixins.mobile {
      @media screen and (max-width: 600px) {
       align-items: center;
      }
    }
    

    button {
      @include mixins.buttons;

      @include mixins.mobile {
        @media screen and (max-width: 600px) {
            max-width: 10em;
        }
      }
      
        @include mixins.desktop {
          @media screen and (max-width: 1200px) {
              width: 15em;
          }
        }
   
    &:hover {
      border-color: v.$darkColor2;
    }

    &:focus, &:focus-visible {
      outline: 4px auto v.$lightColor2;
    }

    #notHidden {
      color: crimson;
    }
    
  }
}

form {
  @include mixins.containers;
  display: flex;
  flex-direction: column;
  gap: calc(v.$gap/2);

  input {
    padding: 0.6em 0.6em;
    border-radius: 0.5em;
    background-color: v.$darkColor;
    border-style: solid;
    color-scheme: dark;
    transition: border-color 0.25s;

    &:hover {
      border-color: v.$darkColor2;
    }

    &:focus, &:focus-visible {
      outline: 4px auto v.$lightColor2;
    }
  }
}

}
}



      
  
